module.exports = {
  statusBarHeight: 43,
  grid: [
    {
      type: "饭菜",
      tag: "饭/菜",
      icon: "rice",
    },
    {
      type: "汤面",
      tag: "面/粉",
      icon: "noodle",
    },
    {
      type: "粥",
      icon: "porridge",
    },
    {
      type: "肉类",
      icon: "meat",
    },
    {
      type: "面食",
      icon: "flour",
    },
  ],
  /** 轮播图片 */
  imgs: [""],
  tags: [
    /** 口味 */
    ["酸", "甜", "辣", "咸", "少油少盐"],
    /** 地域 */
    ["东北风味", "四川风味", "北方风味", "南方风味", "特色菜"],
  ],
  /** 切换分类显示状态 */
  onToggle: function (event, ownerInstance) {
    // 返回组件的实例
    var navBarInstance = ownerInstance.selectComponent(".navbar");

    // 切换 onfold class
    if (navBarInstance.hasClass("unfold")) navBarInstance.removeClass("unfold");
    else navBarInstance.addClass("unfold");

    return false;
  },
};
